<!DOCTYPE html>
<html>
<head>
    <title>Company Registartion Approval</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <div id="header">
        <h1>Company Registartion Approval</h1>
        <div id="adminInfo">
            <span id="welcome">Welcome, Admin!</span>
        </div>
    </div>
    <table id="registrationTable">
        <tr>
            <th>id</th>
            <th>Company Name</th>
            <th>Address</th>
            <th>Contact No.</th>
            <th>Email</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        <!-- Company registration rows will go here -->
    </table>
    <div id="logoutDiv">
        <button id="logout">Logout</button>
    </div>

    <script src="admin.js"></script>
</body>
</html>
