<!DOCTYPE html>
<html>
<head>

	<title>Justin Yong | Portfolio</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />

	<meta name="keywords" content="" />
	<meta name="description" content="" />

	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css" media="all" /> 
	<link rel="stylesheet" type="text/css" href="../static/css/justin_portfolio.css" media="all" />

	<style>

		.mid-button {
			text-align: center; /* Center-align the contents horizontally */
            margin: 0 auto; /* Center the container horizontally */
		}

        /* Style for the clickable blue box */
        .blue-box {
            background-color: #222;
            padding: 10px 20px;
			margin-top: 0px;
			margin-bottom: 40px;
            display: inline-block;
            cursor: pointer;
        }

        /* Style for the link inside the blue box */
        .blue-box a {
            color: white;
            text-decoration: none;
        }
    </style>

</head>
<body>



	
<div id="doc2" class="yui-t7">
	<div id="inner">
	
		<div id="hd">
			<div class="yui-gc">
				<div class="yui-u first" style="width: 50%;">
					<h1>Justin Yong</h1>
					<h2>Machine Learning Engineer</h2>
				</div>

				<div class="yui-u" style="width: 40%;">
					<div class="contact-info">
						<h3>+6 017-120 8163</h3><br>
						<h3>justinyzh-wm20@student.tarc.edu.my</h3><br>
						<h3>20A, Jalan Sukaria 32,</h3>
						<h3>Bukit Bila, 40411 Shah Alam</h3>
					</div><!--// .contact-info -->
				</div>
			</div><!--// .yui-gc -->
		</div><!--// hd -->

		<div id="bd">
			<div id="yui-main">
				<div class="yui-b">

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>About</h2>
						</div>
						<div class="yui-u">
							<p class="enlarge">
								I am a highly motivated individual with a deep passion for machine learning and artificial intelligence. I use my strong analytical skills and attention to detail to solve complex problems, ultimately satisfying clients and stakeholders.</p>
						</div>
					</div><!--// .yui-gf -->

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Skills</h2>
						</div>
						<div class="yui-u">

								<div class="talent">
									<h2>Technical</h2>
									<p>- scikit-learn, Tensorflow, Keras and PyTorch frameworks.</p><br>
									<p>- Python, Java, C and R programming.</p>
								</div>

								<div class="talent">
									<h2>Personal</h2>
									<p>- Excellent written and spoken English and Bahasa Malaysia.</p><br>
									<p>- Competent and responsible leader as well as excellent team-player</p>
								</div>

								<div class="talent">
									<h2>Others</h2>
									<p>- Basic Life Support, AED and First Aid.</p><br>
								</div>
						</div>
					</div><!--// .yui-gf -->

					<div class="yui-gf" style="height: 250px;">
	
						<div class="yui-u first">
							<h2>Experience</h2>
						</div><!--// .yui-u -->

						<div class="yui-u">

							<div class="job">
								<h2>Kung Wei Sdn Bhd</h2>
								<h3>Machine Learning Engineer</h3>
								<h4>June 2022 - Present</h4>
								<p>Developed deep learning models using Tensorflow, Keras and PyTorch libraries for generative AI and natural language processing.</p>
							</div>

							<div class="job last">
								<h2>Osuki Commerce Sdn Bhd</h2>
								<h3>Machine Learning Intern</h3>
								<h4>January 2022 - May 2022</h4>
								<p>Assisted in the development of machine learning models for predictive analysis using scikit-learn library.</p>
							</div>
						</div><!--// .yui-u -->
					</div><!--// .yui-gf -->

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Education</h2>
						</div>
						<div class="yui-u">
							<h2>Tunku Abdul Rahman University of Management and Technology</h2><br>
							<h3>Bachelor of Computer Science (Honours) in Data Science</h3>
							<h3><strong>Completed in 2022</strong> </h3><br>

							<h3>Diploma in Computer Science with Distinction</h3>
							<h3><strong>Completed in 2020</strong> </h3><br>
						</div>
					</div><!--// .yui-gf -->

					<div class="yui-gf last">
						<div class="yui-u first">
							<h2>References</h2>
						</div>
						<div class="yui-u">
							<h2>1. Ts. Dr. Tan Chi Wee</h2><br>
							<h3>chiwee@tarc.edu.my</h3>
							<h3>+6 018-981 5528</h3><br><br>

							<h2>2. Dr. Noor Aida bt. Husaini	</h2><br>
							<h3>nooraida@tarc.edu.my</h3>
							<h3>+6 012-240 2249</h3>
						</div>
					</div><!--// .yui-gf -->


				</div><!--// .yui-b -->
			</div><!--// yui-main -->
		</div><!--// bd -->


	</div><!-- // inner -->

	<div class="mid-button">
	    <!-- Navbar Start -->
		<div class="blue-box" onclick="navigateToBackPage()">
			<nav>
				<div>
					<a href="/homepage">Back</a>
				</div>
			</nav>
		</div>
		<!-- Navbar End -->
</div>

</div><!--// doc -->

<script>
	// JavaScript function to navigate to "back.html"
	function navigateToBackPage() {
		window.location.href = '/homepage';
	}
</script>


</body>
</html>

